body{
    font-family: 'Quicksand', sans-serif;
    padding-left: 0;
    margin-left: 0;
    text-align: center;
}
nav select {
    display: none;
  }
/* hyperlink colors */
/* unvisited link */
a:link {
    color: #633894;
}

/* visited link */
a:visited {
    color: #FD0157;
}
.nav-link{
    padding-top: 5vh;
}
/* Footer */
#footer {
    border-top: silver;
    border-top-style: groove;
    font-size: smaller;
    color: black;
    font-size: smaller;
    text-align: center;
    padding-left: 790px;
}
#contentDiv{
    margin-top: 2vh;
    margin-left: 20vw;
    margin-right: 20vw;
    line-height: 200%;
}
#aboutPhoto{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
@media (max-width: 375px) {
    body{
        width: 375px;
    }
    nav ul     { display: none; }
    nav select { display: inline-block; }
}