body{
    font-family: 'Quicksand', sans-serif;
    padding-left: 0;
    margin-left: 0;
}

/* hyperlink colors */
/* unvisited link */
a:link {
    color: #633894;
}

/* visited link */
a:visited {
    color: #FD0157;
}
.nav-link{
    padding-top: 5vh;
}
/* Footer */
#footer {
    border-top: silver;
    border-top-style: groove;
    font-size: smaller;
    color: black;
    font-size: smaller;
    text-align: center;
    padding-left: 700px;
}